<label>
	<input type="text" class="obsidian-input-num-md" name="data.weight" data-dtype="Number"
	       placeholder="0" value="{{item.data.weight}}">
	<span>{{localize 'OBSIDIAN.Weight'}}</span>
</label>
<label class="obsidian-label-icon">
	<input type="text" class="obsidian-input-num-lg" name="data.price" data-dtype="Number"
	       placeholder="0" value="{{item.data.price}}">
	<span>{{localize 'OBSIDIAN.Cost'}}</span>
	<i class="obsidian-icon obsidian-icon-sm obsidian-icon-gp"></i>
</label>
