<div class="obsidian-tab-contents tab" data-group="actions-tabs" data-tab="attacks">
	<h3>{{localize 'OBSIDIAN.Attacks'}}</h3>
	<div class="obsidian-table">
		<div class="obsidian-thead">
			{{#if (not-empty actor.obsidian.attacks)}}
				<div class="obsidian-col-icon"></div>
				<div class="obsidian-col-attack">{{localize 'OBSIDIAN.AttackTitle'}}</div>
				<div class="obsidian-col-range">{{localize 'OBSIDIAN.Range'}}</div>
				<div class="obsidian-col-hit">{{localize 'OBSIDIAN.HitDC'}}</div>
				<div class="obsidian-col-damage">{{localize 'OBSIDIAN.DamageTitle'}}</div>
				<div class="obsidian-col-notes">{{localize 'OBSIDIAN.Notes'}}</div>
			{{else}}
				<div class="obsidian-col-empty">{{localize 'OBSIDIAN.Empty'}}</div>
			{{/if}}
		</div>
		<div class="obsidian-tbody">
			{{#each (attack-sort actor.obsidian.attacks)}}
				<div class="obsidian-tr obsidian-atk-tr item" data-item-id="{{parentItem._id}}"
				     draggable="true"
				     {{#unless (eq parentItem.type 'spell')}}data-effect-id="{{parentEffect.uuid}}"{{/unless}}>
					<div class="obsidian-col-icon">
						{{#if (eq parentItem.type 'spell')}}
							<div class="obsidian-icon obsidian-icon-school-{{parentItem.data.school}}"></div>
						{{else if (eq parentItem.type 'weapon')}}
							<div class="
								{{~#if (is-attack-toggleable this)~}}
									obsidian-attack-toggle
								{{~/if}} obsidian-icon obsidian-icon-{{mode}}" data-component-id="{{uuid}}">
							</div>
						{{else}}
							<div class="obsidian-icon obsidian-icon-{{attack}}"></div>
						{{/if}}
					</div>
					<div class="obsidian-col-attack">
						<div class="obsidian-table-text rollable"
							{{#if (eq parentItem.type 'spell')}}
								data-roll="item" data-id="{{parentItem._id}}"
							{{else}}
								data-roll="fx" data-effect-id="{{parentEffect.uuid}}"
							{{/if}}>
							{{#if (eq parentEffect.name '')}}
								{{parentItem.name}}
							{{else}}
								{{parentEffect.name}}
							{{/if}}
						</div>
						<div class="obsidian-table-sub-text">{{localize attackType}}</div>
					</div>
					<div class="obsidian-col-range">
						{{#if (eq mode 'ranged')}}
							<div class="obsidian-table-number-md">
								<div>
									{{parentItem.data.range.value}}
									<span class="obsidian-table-number-split">/</span>
								</div>
								<div>
									<span class="obsidian-table-number-minor">{{parentItem.data.range.long}}</span>
									<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
								</div>
							</div>
						{{else if (eq parentItem.type 'spell')}}
							{{#if (or (eq parentItem.flags.obsidian.range.type 'short') (eq parentItem.flags.obsidian.range.type 'long'))}}
								<div class="obsidian-table-number-md">
									{{parentItem.flags.obsidian.range.n}}
									<span class="obsidian-table-unit">
										{{obs-i18n 'SpellRangeAbbr' parentItem.flags.obsidian.range.type}}
									</span>
								</div>
							{{else if (eq parentItem.flags.obsidian.range.type 'unlimited')}}
								<div class="obsidian-table-number-md">&infin;</div>
							{{else}}
								<div class="obsidian-table-text">
									{{obs-i18n 'SpellRange' parentItem.flags.obsidian.range.type}}
								</div>
							{{/if}}
						{{else if (eq parentItem.type 'weapon')}}
							<div class="obsidian-table-number-md">
								{{parentItem.obsidian.attributes.reach}}
								<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
							</div>
							<div class="obsidian-table-sub-text">{{localize 'OBSIDIAN.Reach'}}</div>
						{{else}}
							<div class="obsidian-table-number-md">&mdash;</div>
						{{/if}}
					</div>
					<div class="obsidian-col-hit">
						<div class="obsidian-table-number-lg">
							{{numberFormat value decimals=0 sign=true}}
						</div>
					</div>
					<div class="obsidian-col-damage">
						<div class="obsidian-table-dmg">
							{{#each (which-damage parentItem this)}}
								<div class="obsidian-dmg-component">
									{{display}}
									<div class="obsidian-icon-sm obsidian-icon-{{damage}}"
									     title="{{obs-i18n 'Damage' damage}}"></div>
								</div>
							{{/each}}
						</div>
					</div>
					<div class="obsidian-col-notes">
						{{#each parentItem.obsidian.notes}}
							<div class="obsidian-table-note-text">{{{this}}}</div>
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>
