<div class="obsidian-tab-container obsidian-crew-tab tab" data-group="main-tabs" data-tab="crew">
	<div class="obsidian-tab-contents obsidian-crew-table">
		{{> modules/obsidian/html/components/crew-table.html type='crew' title='DND5E.VehicleCrew'
				items=data.cargo.crew}}
		{{> modules/obsidian/html/components/crew-table.html type='passengers'
				title='DND5E.VehiclePassengers' items=data.cargo.passengers}}
	</div>
</div>
