<div class="obsidian-tab-container obsidian-tab-contents tab" data-group="main-tabs"
     data-tab="effects">
	{{#unless isCharacter}}
	<h3>{{localize 'OBSIDIAN.Conditions'}}</h3>
	<div class="obsidian-npc-grid obsidian-npc-condition-grid">
		{{#each ObsidianConfig.CONDITIONS}}
			<div class="obsidian-npc-grid-item">
				<div class="
				{{#if (lookup ../actor.obsidian.conditions this)}}
					obsidian-radio-selected
				{{/if}} obsidian-radio-label" data-value="{{this}}">
					<div class="
					{{#if (eq 'invisible' this)}}
						obsidian-radio-positive
					{{else}}
						obsidian-radio-negative
					{{/if}} obsidian-radio">
						<span></span>
					</div>
					{{obs-i18n 'Condition' this}}
				</div>
			</div>
		{{/each}}
	</div>
	<div class="obsidian-npc-exhaustion">
		<div class="
		{{#if (gt actor.obsidian.conditions.exhaustion 0)}}
			obsidian-meatballs-active
		{{/if}} obsidian-meatballs-title">
			{{localize 'OBSIDIAN.Exhaustion'}}
		</div>
		<div class="obsidian-meatballs obsidian-exhaustion">
			{{#each (range 1 6)}}
				<div class="{{#if (leq this ../actor.obsidian.conditions.exhaustion)}}
					obsidian-radio-selected
				{{/if}} obsidian-radio obsidian-radio-negative" data-value="{{this}}">
					<span></span>
				</div>
			{{/each}}
		</div>
	</div>
	{{/unless}}
	{{#if rules}}
		<h3>{{localize 'OBSIDIAN.Rules'}}</h3>
		{{#each rules}}
			<div class="obsidian-effect-row" data-rule="{{key}}">
				<div class="{{#if active}}obsidian-radio-selected {{/if}}
			            obsidian-radio obsidian-radio-negative">
					<span></span>
				</div>
				<div class="obsidian-effect-row-content">
					<strong>{{obs-i18n 'RulesKey' key}}:</strong>
					{{{lookup @root.ObsidianLabels.Rules key}}}
				</div>
			</div>
		{{/each}}
	{{/if}}
	{{#*inline 'effect'}}
		<div class="obsidian-effect-row" data-uuid="{{uuid}}">
			<div class="{{#if toggle.active}}obsidian-radio-selected {{/if}}
			            obsidian-radio obsidian-radio-negative">
				<span></span>
			</div>
			<div class="obsidian-effect-row-content">
				<strong>{{label}}:</strong>
				{{{toggle.display}}}
			</div>
		</div>
	{{/inline}}
	<h3>{{localize 'OBSIDIAN.Permanent'}}</h3>
	{{#each (filter actor.obsidian.toggleable 'activeEffect' undefined)}}
		{{> effect}}
	{{/each}}
	<h3>{{localize 'OBSIDIAN.Temporary'}}</h3>
	{{#each actor.obsidian.tempEffects}}
		<fieldset data-item-id="{{_id}}" class="obsidian-temp-effect item">
			<legend>
				{{name}}
				<a title="{{localize 'OBSIDIAN.Delete'}}" class="obsidian-delete">
					<i class="fas fa-trash"></i>
				</a>
			</legend>
			{{#each flags.obsidian.effects}}
				{{> effect}}
			{{/each}}
		</fieldset>
	{{/each}}
</div>
