{{#each this}}
	<div class="obsidian-tr item" data-item-id="{{_id}}" data-reorderable="true" data-name="{{name}}"
	     draggable="true"
	     {{#if @root.isVehicle}}
		     {{#if (eq type 'equipment')}}data-filter-component="true"
		     {{else}}data-filter-cargo="true" {{/if}}
	     {{else}}
		     {{#if flags.obsidian.magical}}data-filter-magical="true" {{/if}}
		     {{#if (eq type 'weapon')}}data-filter-weapon="true" {{/if}}
		     {{#if (eq flags.obsidian.subtype 'armour')}}data-filter-armour="true" {{/if}}
		     {{#if (eq type 'consumable')}}data-filter-consumable="true" {{/if}}
		     {{#if flags.obsidian.attunement}}data-filter-attunement="true"{{/if}}
	     {{/if}}>
		<div class="obsidian-col-action">
			{{#if obsidian.equippable}}
				<button type="button" class="{{#if data.equipped}}obsidian-btn-active{{/if}}
				        obsidian-btn-outline obsidian-equip-action">
					{{#if data.equipped}}
						{{localize 'OBSIDIAN.Unequip'}}
					{{else}}
						{{localize 'OBSIDIAN.Equip'}}
					{{/if}}
				</button>
			{{else if (or (eq type 'tool') obsidian.consumable)}}
				<button type="button" class="obsidian-btn-outline obsidian-equip-action">
					{{localize 'OBSIDIAN.Use'}}
				</button>
			{{else}}
				<span class="obsidian-blank">&mdash;</span>
			{{/if}}
		</div>
		<div class="obsidian-col-inv-item">
			<div class="obsidian-table-text">
				{{name}}
				{{#if flags.obsidian.attunement}}
					<div class="obsidian-css-icon obsidian-css-icon-xs obsidian-css-icon-circle obsidian-ptr
					 obsidian-attune {{#if data.attuned}}obsidian-css-icon-regular{{else}}obsidian-css-icon-empty{{/if}}"
					     title="{{localize 'OBSIDIAN.RequiresAttunement'}}">
						<div class="obsidian-css-icon-shape"></div>
						<div class="obsidian-css-icon-label">{{localize 'OBSIDIAN.AttunementAbbr'}}</div>
					</div>
				{{/if}}
			</div>
			<div class="obsidian-table-sub-text">
				{{#if (eq type 'weapon')}}
					{{#if (eq flags.obsidian.type 'melee')}}
						{{localize 'OBSIDIAN.MeleeWeapon'}}
					{{else if (eq flags.obsidian.type 'ranged')}}
						{{localize 'OBSIDIAN.RangedWeapon'}}
					{{/if}}
				{{else if (eq type 'equipment')}}
					{{#if (eq flags.obsidian.subtype 'armour')}}
						{{obs-i18n 'ArmourTypeFull' data.armor.type}}
					{{/if}}
				{{else if (eq type 'consumable')}}
					{{obs-i18n 'ConsumableType' flags.obsidian.subtype}}
				{{/if}}
			</div>
		</div>
		<div class="obsidian-col-weight">
			<div class="obsidian-table-number-{{num-size data.weight}}">
				{{#if data.weight}}
					{{data.weight}}
					<span class="obsidian-table-unit">{{localize 'OBSIDIAN.PoundsAbbr'}}</span>
				{{else}}
					&mdash;
				{{/if}}
			</div>
		</div>
		<div class="obsidian-col-qty">
			<input type="text" class="obsidian-table-input" data-name="items.{{idx}}.data.quantity"
			       data-dtype="Number" placeholder="1" value="{{data.quantity}}">
		</div>
		<div class="obsidian-col-cost">
			<div class="obsidian-table-number-{{num-size data.price}}">
				{{#if data.price}}
					{{number-format data.price}}
				{{else}}
					&mdash;
				{{/if}}
			</div>
		</div>
		<div class="obsidian-col-type">
			<div class="obsidian-icon obsidian-icon-
				{{~#if (or (eq type 'equipment') (eq type 'consumable'))~}}
					{{~flags.obsidian.subtype~}}
				{{~else~}}
					{{~type~}}
				{{~/if~}}
			" title="
				{{~#if (or (eq type 'equipment') (eq type 'consumable'))~}}
					{{obs-i18n 'ItemType' flags.obsidian.subtype}}
				{{~else~}}
					{{obs-i18n 'ItemType' type}}
				{{~/if~}}
			"></div>
		</div>
		<div class="obsidian-col-notes">
			{{#each obsidian.notes}}
				<div class="obsidian-table-note-text">{{{this}}}</div>
			{{/each}}
		</div>
	</div>
{{/each}}
