<fieldset>
	<legend>{{localize 'OBSIDIAN.Spell'}}</legend>
	<div class="obsidian-form-row-img">
	<div>
		<img class="profile" src="{{item.img}}" alt="{{item.name}}" data-edit="img">
	</div>
	<div>
  <div class="obsidian-form-row">
    <div>
      <input type="text" class="obsidian-input-lg" name="name" value="{{item.name}}"
             placeholder="{{localize 'OBSIDIAN.Name'}}">
      <select name="data.school">
	      {{selectOptions ObsidianLabels.SpellSchool selected=data.school}}
      </select>
      <label>
        {{localize 'OBSIDIAN.Level'}}
        <input type="text" class="obsidian-input-num-sm" value="{{data.level}}" name="data.level"
               data-dtype="Number">
      </label>
      {{fancy-checkbox 'data.components.ritual' content='OBSIDIAN.Ritual'
                       checked=data.components.ritual}}
    </div>
  </div>
	{{#if (and actor (not item.flags.obsidian.isEmbedded) (not isNPC))}}
	<div class="obsidian-form-row obsidian-stacked-row">
	  <div>
	    <label>
	      {{localize 'OBSIDIAN.Source'}}
	      <select name="flags.obsidian.source.type" data-selector="source">
		      {{selectOptions ObsidianLabels.SpellSrc selected=item.flags.obsidian.source.type}}
	      </select>
	    </label>
	    <select name="flags.obsidian.source.class" data-show="class" data-selector-parent="source">
	      {{#select item.flags.obsidian.source.class}}
		      {{#each actor.data.obsidian.classes}}
			      <option value="{{_id}}">{{obsidian.label}}</option>
		      {{/each}}
	      {{/select}}
	    </select>
	    <input type="text" class="obsidian-input-lg" data-show="custom" data-selector-parent="source"
	           name="flags.obsidian.source.custom" placeholder="{{localize 'OBSIDIAN.Source'}}"
	           value="{{item.flags.obsidian.source.custom}}">
	  </div>
	</div>
	</div></div>
	{{else if (not item.flags.obsidian.isEmbedded)}}
		<input type="hidden" name="flags.obsidian.source.type" value="custom">
		<input type="hidden" name="flags.obsidian.source.custom" value="{{localize 'OBSIDIAN.Custom'}}">
	{{/if}}
  <div class="obsidian-form-row obsidian-stacked-row">
    <div>
      <label>
        {{localize 'OBSIDIAN.CastTimeTitle'}}
        <input type="text" class="obsidian-input-num-sm" name="flags.obsidian.time.n"
               placeholder="1" data-selector-parent="cast-time" data-hide="special"
               value="{{item.flags.obsidian.time.n}}" data-dtype="Number">
      </label>
      <select name="flags.obsidian.time.type" data-selector="cast-time">
	      {{selectOptions ObsidianLabels.CastTime selected=item.flags.obsidian.time.type}}
      </select>
      <input type="text" class="obsidian-input-lg" data-show="react"
             value="{{item.flags.obsidian.time.react}}" data-selector-parent="cast-time"
             placeholder="{{localize 'OBSIDIAN.CastTime.react'}}" name="flags.obsidian.time.react"
             style="max-width: 220px;">
    </div>
  </div>
	{{#if (or (not actor) item.flags.obsidian.isEmbedded isNPC)}}</div></div>{{/if}}
  <div class="obsidian-form-row obsidian-stacked-row">
    <div>
      <label>
        {{localize 'OBSIDIAN.Range'}}
        <input type="text" class="obsidian-input-num-md" name="flags.obsidian.range.n"
               value="{{item.flags.obsidian.range.n}}" data-dtype="Number"
               data-selector-parent="range" data-show="short, long">
      </label>
      <select name="flags.obsidian.range.type" data-selector="range">
	      {{selectOptions ObsidianLabels.SpellRange selected=item.flags.obsidian.range.type}}
      </select>
    </div>
  </div>
  <div class="obsidian-form-row obsidian-stacked-row">
    <div>
      <label>
        {{localize 'OBSIDIAN.DurationTitle'}}
        <input type="text" class="obsidian-input-num-sm" data-dtype="Number"
               data-selector-parent="duration" data-show="round, min, hour, day"
               name="flags.obsidian.duration.n" value="{{item.flags.obsidian.duration.n}}">
      </label>
      <select name="flags.obsidian.duration.type" data-selector="duration">
	      {{selectOptions ObsidianLabels.Duration selected=item.flags.obsidian.duration.type}}
      </select>
      {{fancy-checkbox 'data.components.concentration' content='OBSIDIAN.Concentration'
                       checked=data.components.concentration selectorParent='duration'
                       show='round, min, hour, day'}}
    </div>
  </div>
  <div class="obsidian-form-row obsidian-stacked-row">
    <div>
      {{fancy-checkbox 'flags.obsidian.components.v' content='OBSIDIAN.VerbalAbbr'
                       checked=item.flags.obsidian.components.v}}
      {{fancy-checkbox 'flags.obsidian.components.s' content='OBSIDIAN.SomaticAbbr'
                       checked=item.flags.obsidian.components.s}}
      {{fancy-checkbox 'flags.obsidian.components.r' content='OBSIDIAN.RoyaltyAbbr'
                       checked=item.flags.obsidian.components.r}}
      {{fancy-checkbox 'flags.obsidian.components.m' content='OBSIDIAN.MaterialAbbr'
                       checked=item.flags.obsidian.components.m}}
      <input type="text" class="obsidian-input-lg" name="data.materials.value"
             value="{{data.materials.value}}" placeholder="{{localize 'OBSIDIAN.Materials'}}"
             style="max-width: none; flex: 1">
    </div>
  </div>
</fieldset>
