<form class="obsidian {{cssClass}}" autocomplete="off">
	<ul class="obsidian-tab-bar" data-group="main-tabs">
		<li class="obsidian-tab item" data-tab="desc">{{localize 'OBSIDIAN.Description'}}</li>
		<li class="obsidian-tab item" data-tab="stats">{{localize 'OBSIDIAN.Stats'}}</li>
		<li class="obsidian-tab item" data-tab="equipment">{{localize 'OBSIDIAN.Equipment'}}</li>
		<li class="obsidian-tab item" data-tab="spells">{{localize 'OBSIDIAN.Spells'}}</li>
		<li class="obsidian-tab item" data-tab="effects">{{localize 'OBSIDIAN.Effects'}}</li>
	</ul>
	<div class="obsidian-tab-container tab" data-group="main-tabs" data-tab="desc">
		<section>
			<img class="obsidian-profile-img obsidian-ptr profile" src="{{actor.img}}"
			     title="{{actor.name}}" alt="{{actor.name}}" data-edit="img">
			<div>
				<div class="obsidian-char-box-container obsidian-char-box-stacked">
					<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.PersonalityTraits'}}</div>
					<div class="obsidian-char-box" contenteditable="true" data-edit="data.details.trait">
						{{{data.details.trait}}}
					</div>
				</div>
				<div class="obsidian-char-box-container obsidian-char-box-stacked">
					<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.Ideals'}}</div>
					<div class="obsidian-char-box" contenteditable="true" data-edit="data.details.ideal">
						{{{data.details.ideal}}}
					</div>
				</div>
				<div class="obsidian-char-box-container obsidian-char-box-stacked">
					<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.Bonds'}}</div>
					<div class="obsidian-char-box" contenteditable="true" data-edit="data.details.bond">
						{{{data.details.bond}}}
					</div>
				</div>
				<div class="obsidian-char-box-container obsidian-char-box-stacked">
					<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.Flaws'}}</div>
					<div class="obsidian-char-box" contenteditable="true" data-edit="data.details.flaw">
						{{{data.details.flaw}}}
					</div>
				</div>
			</div>
		</section>
		<section>
			<h3>
				{{localize 'OBSIDIAN.Notes'}}
				<a class="obsidian-edit-npc-notes"><i class="fas fa-edit"></i></a>
			</h3>
			<div class="obsidian-rich-text">
				{{editor content=data.details.biography.value button=true editable=editable
				         target='data.details.biography.value'}}
			</div>
		</section>
	</div>
	<div class="obsidian-tab-container obsidian-npc-stats tab" data-group="main-tabs"
	     data-tab="stats">
		<header>
			<input name="name" type="text" value="{{actor.name}}"
			       class="obsidian-char-charname obsidian-condensed"
			       placeholder="{{localize 'OBSIDIAN.CharacterName'}}">
			<div class="obsidian-char-header-minor obsidian-condensed">{{{creatureType}}}</div>
			{{#if summonLevel}}
			<div class="obsidian-char-header-minor obsidian-condensed obsidian-summon-level">
				{{summonLevel}}
			</div>
			{{/if}}
			<div class="obsidian-npc-btns">
				{{#if (not isObject)}}
				<div class="obsidian-npc-btn-row">
					<button type="button" class="obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet
					        obsidian-short-rest">
						<i class="fas fa-hourglass-half"></i>
						{{localize 'OBSIDIAN.ShortRest'}}
					</button>
					<button type="button" class="obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet
					        obsidian-long-rest">
						<i class="fas fa-campground"></i>
						{{localize 'OBSIDIAN.LongRest'}}
					</button>
				</div>
				{{/if}}
				<div class="obsidian-npc-btn-row">
					<button type="button" class="
					        {{#if (eq actor.flags.obsidian.sheet.roll 'adv')}}obsidian-btn-active{{/if}}
					        obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet obsidian-btn-positive
					        obsidian-global-advantage">
						{{localize 'OBSIDIAN.Roll.adv'}}
					</button>
					<button type="button" class="
					        {{#if (eq actor.flags.obsidian.sheet.roll 'dis')}}obsidian-btn-active{{/if}}
					        obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet obsidian-btn-negative
					        obsidian-global-disadvantage">
						{{localize 'OBSIDIAN.Roll.dis'}}
					</button>
				</div>
			</div>
		</header>
		<main>
			<section class="obsidian-npc-stat-block">
				<div class="obsidian-npc-stat-row obsidian-npc-ac obsidian-ptr obsidian-simple-dialog"
				     data-title="{{localize 'OBSIDIAN.ManageAC'}}" data-template="ac.html" data-npc="true"
				     data-width="450">
					<div class="obsidian-npc-stat-key">{{localize 'OBSIDIAN.AC'}}</div>
					<div class="obsidian-npc-stat-value obsidian-font-14">
						{{data.attributes.ac.value}}
						{{#if actor.flags.obsidian.attributes.ac.note}}
							<span class="obsidian-npc-subtle">({{actor.flags.obsidian.attributes.ac.note}})</span>
						{{else if actor.obsidian.armourDisplay}}
							<span class="obsidian-npc-subtle">({{actor.obsidian.armourDisplay}})</span>
						{{/if}}
					</div>
				</div>
				<div class="obsidian-npc-stat-row" style="height: 17px;">
					<div class="obsidian-npc-stat-key obsidian-npc-roll-hp rollable">
						{{localize 'OBSIDIAN.HP'}}
					</div>
					<div class="obsidian-npc-stat-value obsidian-npc-hp">
						<input type="text" name="data.attributes.hp.value" class="obsidian-input-num"
						       value="{{data.attributes.hp.value}}" data-dtype="Number">
						<span class="obsidian-binary-operator" style="color: var(--obs-text-subtle);">&sol;</span>
						<input type="text" name="data.attributes.hp.max" class="obsidian-input-num"
						       value="{{data.attributes.hp.max}}" data-dtype="Number">
						<span class="obsidian-binary-operator">&sol;</span>
						<input type="text" name="data.attributes.hp.temp" data-dtype="Number"
					         class="obsidian-input-num obsidian-npc-tmp-hp"
					         value="{{data.attributes.hp.temp}}"
					         placeholder="{{localize 'OBSIDIAN.TempAbbrUC'}}">
						<div class="obsidian-npc-dt obsidian-ptr obsidian-npc-subtle">
							{{localize 'OBSIDIAN.DT'}} {{actor.flags.obsidian.attributes.dt}}
						</div>
					</div>
				</div>
				{{#if (not isObject)}}
				<div class="obsidian-npc-stat-row" style="height: 17px;">
					<div class="obsidian-npc-stat-key obsidian-npc-roll-hd rollable">
						{{localize 'OBSIDIAN.HD'}}
					</div>
					<div class="obsidian-npc-stat-value obsidian-npc-hd">
						<input type="text" name="flags.obsidian.attributes.hd.value" class="obsidian-input-num"
						       value="{{actor.flags.obsidian.attributes.hd.value}}" data-dtype="Number"
						       placeholder="0">
						<span class="obsidian-binary-operator" style="color: var(--obs-text-subtle);">&sol;</span>
						<input type="text" name="flags.obsidian.attributes.hd.max" class="obsidian-input-num"
						       value="{{actor.flags.obsidian.attributes.hd.max}}" data-dtype="Number"
						       placeholder="0">
						<span class="obsidian-npc-hd-die">d{{actor.obsidian.attributes.hd.die}}</span>
						<span class="obsidian-binary-operator">&plus;</span>
						<span class="obsidian-npc-hd-const">{{actor.obsidian.attributes.hd.const}}</span>
					</div>
				</div>
				{{/if}}
				<div class="obsidian-npc-stat-row">
					<div class="obsidian-npc-stat-key rollable" data-roll="abl" data-abl="init">
						{{localize 'OBSIDIAN.Initiative'}}
					</div>
					<div class="obsidian-npc-stat-value obsidian-font-13">
						{{numberFormat data.attributes.init.mod decimals=0 sign=true}}
					</div>
				</div>
				<div class="obsidian-npc-stat-row obsidian-npc-speed obsidian-ptr obsidian-simple-dialog"
				     data-title="{{localize 'OBSIDIAN.ManageSpeed'}}" data-width="250" data-npc="true"
				     data-template="speed.html">
					<div class="obsidian-npc-stat-key">{{localize 'OBSIDIAN.SpeedTitle'}}</div>
					<div class="obsidian-npc-stat-value obsidian-font-13">
						{{actor.obsidian.attributes.speed.display}}
					</div>
				</div>
				<div class="obsidian-char-abilities">
					{{#each data.abilities}}
					<div class="obsidian-char-ability">
						<div class="obsidian-char-ability-name rollable obsidian-condensed" draggable="true"
						     data-roll="abl" data-abl="{{@key}}">
							{{obs-i18n 'AbilityAbbr' @key}}
						</div>
						<div class="obsidian-char-ability-mod">
							{{numberFormat mod decimals=0 sign=true}}
						</div>
						{{#with (lookup ../base.data.abilities @key)}}
							<input type="text" value="{{../value}}" placeholder="10" name="abl-facade-{{@key}}"
								class="obsidian-char-ability-score
									{{#if (gt ../value value)}}
										obsidian-positive
									{{else if (lt ../value value)}}
										obsidian-negative
									{{/if}}">
							<input name="data.abilities.{{@key}}.value" type="hidden" value="{{value}}"
							       data-dtype="Number">
						{{/with}}
					</div>
					{{/each}}
				</div>
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-npc-saves">
					<strong class="obsidian-ptr" data-dialog="NPCSaves">
						{{localize 'OBSIDIAN.Saves'}}
					</strong>
					{{#each data.abilities}}
						<div class="obsidian-npc-stat-li">
							<span class="rollable" data-roll="save" data-save="{{@key}}" draggable="true">
								{{obs-i18n 'AbilityAbbr' @key}}
							</span>
							{{numberFormat save decimals=0 sign=true~}}
						</div>
					{{/each}}
				</div>
				{{#if (not-empty skills)}}
				<div class="obsidian-npc-stat-runon obsidian-font-13">
					<strong class="obsidian-ptr" data-dialog="NPCSkills">
						{{localize 'OBSIDIAN.Skills'}}
					</strong>
					{{#each skills}}
						<div class="obsidian-npc-stat-li">
							<span class="rollable" data-roll="skl" data-skl="{{@key}}" draggable="true">
								{{obs-i18n 'Skill' @key}}
							</span>
							{{numberFormat total decimals=0 sign=true~}}
						</div>
					{{/each}}
				</div>
				{{/if}}
				{{#if actor.obsidian.defenses.display.damage.vuln}}
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-ptr" data-dialog="Defenses">
					<strong>{{localize 'OBSIDIAN.DamageVulnerabilities'}}</strong>
					{{{lc actor.obsidian.defenses.display.damage.vuln}}}
				</div>
				{{/if}}
				{{#if actor.obsidian.defenses.display.damage.res}}
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-ptr" data-dialog="Defenses">
					<strong>{{localize 'OBSIDIAN.DamageResistances'}}</strong>
					{{{lc actor.obsidian.defenses.display.damage.res}}}
				</div>
				{{/if}}
				{{#if actor.obsidian.defenses.display.damage.imm}}
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-ptr" data-dialog="Defenses">
					<strong>{{localize 'OBSIDIAN.DamageImmunities'}}</strong>
					{{{lc actor.obsidian.defenses.display.damage.imm}}}
				</div>
				{{/if}}
				{{#if actor.obsidian.defenses.display.conditions.imm}}
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-ptr" data-dialog="Defenses">
					<strong>{{localize 'OBSIDIAN.ConditionImmunities'}}</strong>
					{{{lc actor.obsidian.defenses.display.conditions.imm}}}
				</div>
				{{/if}}
				{{#if (not isObject)}}
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-ptr" data-dialog="Senses"
				     data-npc="true">
					<strong>{{localize 'OBSIDIAN.Senses'}}</strong>
					{{#if hasSenses}}
						{{#each senses}}
							{{#if (gt (lookup ../data.attributes.senses @key) 0)}}
							<div class="obsidian-npc-stat-li">
								{{obs-i18n 'Sense' @key}}
								{{lookup ../data.attributes.senses @key}}
								{{localize 'OBSIDIAN.FeetAbbr'~}}
							</div>
							{{/if}}
						{{/each}}
					{{else if data.traits.senses}}
						<div class="obsidian-npc-stat-li">{{data.traits.senses}}</div>
					{{/if}}
					<div class="obsidian-npc-stat-li">
						{{localize 'OBSIDIAN.PassiveLC'}}
						{{localize 'OBSIDIAN.Skill.prc'}}
						{{data.skills.prc.passive}}
					</div>
				</div>
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-ptr" data-npc="true"
				     data-dialog="Proficiencies">
					<strong>{{localize 'OBSIDIAN.Languages'}}</strong>
					{{#if (or (not-empty data.traits.languages.value) (not-empty actor.flags.obsidian.traits.profs.custom.langs))}}
						{{#each data.traits.languages.value}}
							<div class="obsidian-npc-stat-li">{{obs-i18n 'Lang' this}}</div>
						{{/each}}
						{{#each actor.flags.obsidian.traits.profs.custom.langs}}
							<div class="obsidian-npc-stat-li">{{lc this}}</div>
						{{/each}}
					{{else}}
						&mdash;
					{{/if}}
				</div>
				<div class="obsidian-npc-stat-row">
					<div class="obsidian-npc-stat-key">{{localize 'OBSIDIAN.Challenge'}}</div>
					<div class="obsidian-npc-stat-value obsidian-font-14 obsidian-ptr obsidian-npc-cr">
						{{labels.cr}}
						<span class="obsidian-npc-subtle">
							({{number-format data.details.xp.value}} {{localize 'OBSIDIAN.XP'}})
						</span>
					</div>
				</div>
				<div class="obsidian-npc-stat-row">
					<div class="obsidian-npc-stat-key rollable" data-roll="save" data-save="death">
						{{localize 'OBSIDIAN.DeathSaves'}}
					</div>
					<div class="obsidian-npc-stat-value obsidian-npc-death">
						<div class="obsidian-meatballs obsidian-death-successes">
							{{#each (range 1 3)}}
								<div class="
								{{#if (leq this ../data.attributes.death.success)}}
									obsidian-radio-selected
								{{/if}} obsidian-radio obsidian-radio-positive" data-value="{{this}}">
									<span></span>
								</div>
							{{/each}}
						</div>
						<span class="obsidian-binary-operator">&sol;</span>
						<div class="obsidian-meatballs obsidian-death-failures">
							{{#each (range 1 3)}}
								<div class="
								{{#if (leq this ../data.attributes.death.failure)}}
									obsidian-radio-selected
								{{/if}} obsidian-radio obsidian-radio-negative" data-value="{{this}}">
									<span></span>
								</div>
							{{/each}}
						</div>
					</div>
				</div>
				{{/if}}
				<div class="obsidian-npc-configure">
					<div data-dialog="NPCSkills">
						{{localize 'OBSIDIAN.Skills'}} <i class="fas fa-cog"></i>
					</div>
					<div data-dialog="Defenses">
						{{localize 'OBSIDIAN.Defenses'}} <i class="fas fa-cog"></i>
					</div>
					<div data-dialog="NPCFeatures">
						{{localize 'OBSIDIAN.Features'}} <i class="fas fa-cog"></i>
					</div>
				</div>
			</section>
			{{#if featCategories.none}}
				<section>
					{{> modules/obsidian/html/components/features.html feats=featCategories.none}}
				</section>
			{{/if}}
			{{#if featCategories.action}}
				<section>
					{{> modules/obsidian/html/components/features.html feats=featCategories.action
							heading='OBSIDIAN.Actions' alreadySorted=true}}
				</section>
			{{/if}}
			{{#if featCategories.reaction}}
				<section>
					{{> modules/obsidian/html/components/features.html feats=featCategories.reaction
							heading='OBSIDIAN.Reactions'}}
				</section>
			{{/if}}
			{{#if featCategories.legendary}}
				<section>
					{{> modules/obsidian/html/components/features.html feats=featCategories.legendary
							heading='OBSIDIAN.LegendaryActions' legendary=data.resources.legact}}
				</section>
			{{/if}}
			{{#if featCategories.lair}}
				<section>
					{{> modules/obsidian/html/components/features.html feats=featCategories.lair
							heading='OBSIDIAN.LairActions' subtext=actor.flags.obsidian.lair}}
				</section>
			{{/if}}
		</main>
	</div>
	{{> modules/obsidian/html/tabs/equipment.html}}
	{{> modules/obsidian/html/tabs/spells.html}}
	{{> modules/obsidian/html/tabs/effects.html}}
</form>
