<form class="obsidian {{cssClass}}" autocomplete="off">
	<section class="obsidian-sidebar">
		<img class="obsidian-profile-img obsidian-ptr profile" src="{{actor.img}}"
		     title="{{actor.name}}" alt="{{actor.name}}" data-edit="img">
		<div class="obsidian-char-box-container obsidian-char-box-stacked">
			<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.PersonalityTraits'}}</div>
			<div class="obsidian-char-box" contenteditable="true" data-edit="data.details.trait">
				{{{data.details.trait}}}
			</div>
		</div>
		<div class="obsidian-char-box-container obsidian-char-box-stacked">
			<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.Ideals'}}</div>
			<div class="obsidian-char-box" contenteditable="true" data-edit="data.details.ideal">
				{{{data.details.ideal}}}
			</div>
		</div>
		<div class="obsidian-char-box-container obsidian-char-box-stacked">
			<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.Bonds'}}</div>
			<div class="obsidian-char-box" contenteditable="true" data-edit="data.details.bond">
				{{{data.details.bond}}}
			</div>
		</div>
		<div class="obsidian-char-box-container obsidian-char-box-stacked">
			<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.Flaws'}}</div>
			<div class="obsidian-char-box" contenteditable="true" data-edit="data.details.flaw">
				{{{data.details.flaw}}}
			</div>
		</div>
		{{#unless limited}}
		<div class="obsidian-char-notes">
			<h3>
				{{localize 'OBSIDIAN.Notes'}}
				<a class="obsidian-edit obsidian-simple-dialog" data-template="other.html"
				   data-title="{{localize 'OBSIDIAN.EditNotes'}}" data-width="578">
					<i class="fas fa-edit"></i>
				</a>
			</h3>
			<div class="obsidian-feature-body">{{{actor.flags.obsidian.details.other}}}</div>
		</div>
		{{/unless}}
		<div class="obsidian-collapser-container obsidian-ptr">
			<i class="fas fa-angle-double-down fa-rotate-90"></i>
		</div>
	</section>
	<section class="obsidian-char-overview">
		<div class="obsidian-char-header-container">
			<div class="obsidian-char-header">
				<input name="name" type="text" value="{{actor.name}}"
				       placeholder="{{localize 'OBSIDIAN.CharacterName'}}"
				       class="obsidian-char-charname obsidian-condensed">
				<div class="obsidian-char-header-minor obsidian-condensed">
					{{#if actor.flags.obsidian.details.gender}}
						<span>{{actor.flags.obsidian.details.gender}}</span>
					{{/if}}
					{{#if actor.flags.obsidian.details.subrace}}
						<span class="obsidian-joined">{{actor.flags.obsidian.details.subrace}}</span>
					{{/if}}
					<span>
						{{#if data.details.race}}
							{{data.details.race}}
						{{else}}
							{{localize 'OBSIDIAN.Race'}}
						{{/if}}
					</span>
					<span>{{actor.obsidian.details.class}}</span>
					<a title="{{localize 'OBSIDIAN.EditDetails'}}" class="obsidian-edit"
					   data-dialog="HeaderDetails">
						<i class="fas fa-edit"></i>
					</a>
				</div>
				<div class="obsidian-char-xp obsidian-ptr" data-dialog="XP">
					<div class="obsidian-char-xp-bar">
						<span class="obsidian-char-lvl obsidian-condensed">
							{{localize 'OBSIDIAN.LevelAbbrUC'}} {{actor.obsidian.details.level}}
						</span>
						<span class="obsidian-char-xp-progress">
							<span class="obsidian-char-xp-progress-bar" style="width:
								{{~#if (geq data.details.xp.value data.details.xp.max)~}}
									100
								{{~else~}}
									{{~data.details.xp.pct~}}
								{{~/if~}}%;"></span>
						</span>
						<span class="obsidian-char-lvl obsidian-condensed">
							{{#if (geq actor.obsidian.details.level ObsidianConfig.MAX_LEVEL)}}
								{{localize 'OBSIDIAN.MaximumAbbrUC'}}
							{{else}}
								{{localize 'OBSIDIAN.LevelAbbrUC'}} {{add actor.obsidian.details.level 1}}
							{{/if}}
						</span>
					</div>
					<div class="obsidian-char-xp-data">
						{{#if actor.flags.obsidian.details.milestone}}
							{{localize 'OBSIDIAN.StoryBased'}}
						{{else}}
							{{data.details.xp.value}} / {{data.details.xp.max}} {{localize 'OBSIDIAN.XP'}}
						{{/if}}
					</div>
				</div>
			</div>
			<div class="obsidian-char-top-level">
				<div class="obsidian-char-column" style="padding-right: 2px;">
					<div class="obsidian-char-box-container">
						<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.ProficiencyTitle'}}</div>
						<div class="{{#if (gt data.attributes.prof actor.flags.obsidian.attributes.originalProf)~}}
							obsidian-positive
						{{~else if (lt data.attributes.prof actor.flags.obsidian.attributes.originalProf)~}}
							obsidian-negative
						{{~/if}} obsidian-char-box">
							{{numberFormat data.attributes.prof decimals=0 sign=true}}
						</div>
					</div>
					<button type="button" class="obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet
					        obsidian-short-rest">
						<i class="fas fa-hourglass-half"></i>
						{{localize 'OBSIDIAN.ShortRest'}}
					</button>
				</div>
				<div class="obsidian-char-column">
					<div class="obsidian-char-box-container">
						<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.Inspiration'}}</div>
						<div class="obsidian-char-box obsidian-inspiration obsidian-ptr">
							<i class="fas fa-sun {{#if (not data.attributes.inspiration)~}}
								obsidian-hidden
							{{~/if}}"></i>
						</div>
					</div>
					<button type="button" class="obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet
					        obsidian-long-rest">
						<i class="fas fa-campground"></i>
						{{localize 'OBSIDIAN.LongRest'}}
					</button>
				</div>
				<div class="obsidian-char-column">
					<div class="obsidian-char-box-container">
						<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.SpeedTitle'}}</div>
						<div class="obsidian-char-box-text" style="color: var(--obs-text-subtle);">
							{{obs-i18n 'Speed' speed.label}}
						</div>
						<div class="obsidian-char-box obsidian-speed obsidian-ptr obsidian-simple-dialog"
						     data-title="{{localize 'OBSIDIAN.ManageSpeed'}}" data-width="250"
						     data-template="speed.html">
							{{speed.value}}
						</div>
					</div>
				</div>
				<div class="obsidian-char-column" style="padding-right: 2px;">
					<div class="obsidian-char-box-container">
						<div class="obsidian-char-box-text rollable" data-roll="abl" data-abl="init"
						     draggable="true">
							{{localize 'OBSIDIAN.Initiative'}}
						</div>
						<div class="obsidian-char-box obsidian-init obsidian-ptr obsidian-simple-dialog"
						     data-title="{{localize 'OBSIDIAN.ManageInitiative'}}" data-width="320"
						     data-template="init.html">
							{{numberFormat data.attributes.init.mod decimals=0 sign=true}}
						</div>
					</div>
					<button type="button" class="
					        {{#if (eq actor.flags.obsidian.sheet.roll 'adv')}}obsidian-btn-active{{/if}}
					        obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet obsidian-btn-positive
					        obsidian-global-advantage">
						{{localize 'OBSIDIAN.Roll.adv'}}
					</button>
				</div>
				<div class="obsidian-char-column">
					<div class="obsidian-char-box-container">
						<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.ACAbbr'}}</div>
						<div class="obsidian-char-box obsidian-ac obsidian-ptr obsidian-simple-dialog"
						     data-title="{{localize 'OBSIDIAN.ManageAC'}}" data-template="ac.html"
						     data-width="450">
							{{data.attributes.ac.value}}
						</div>
					</div>
					<button type="button" class="
					        {{#if (eq actor.flags.obsidian.sheet.roll 'dis')}}obsidian-btn-active{{/if}}
					        obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet obsidian-btn-negative
					        obsidian-global-disadvantage">
						{{localize 'OBSIDIAN.Roll.dis'}}
					</button>
				</div>
			</div>
		</div>
		<div class="obsidian-char-header-container">
			<div class="obsidian-char-abilities">
				{{#each data.abilities}}
				<div class="obsidian-char-ability">
					<div class="obsidian-char-ability-name rollable obsidian-condensed" data-roll="abl"
					     data-abl="{{@key}}" draggable="true">
						{{obs-i18n 'AbilityAbbr' @key}}
					</div>
					<div class="obsidian-char-ability-mod">
						{{numberFormat mod decimals=0 sign=true}}
					</div>
					{{#with (lookup ../base.data.abilities @key)}}
						<input type="text" value="{{../value}}" placeholder="10" name="abl-facade-{{@key}}"
							class="obsidian-char-ability-score
								{{#if (gt ../value value)}}
									obsidian-positive
								{{else if (lt ../value value) }}
									obsidian-negative
								{{/if}}">
						<input name="data.abilities.{{@key}}.value" type="hidden" value="{{value}}"
						       data-dtype="Number">
					{{/with}}
				</div>
				{{/each}}
			</div>
			<div class="obsidian-char-top-level" style="align-items: flex-start;">
				<div class="obsidian-char-column">
					<div class="obsidian-char-box-container">
						<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.HP'}}</div>
						<div class="obsidian-char-box obsidian-resource-box obsidian-char-hp">
							<div class="obsidian-bisect">
								<input type="text" name="data.attributes.hp.value" class="obsidian-input-num"
								       value="{{data.attributes.hp.value}}" data-dtype="Number">
								/
								<div class="obsidian-ptr obsidian-max-hp obsidian-resource-box-max
								{{#if (gt data.attributes.hp.max base.data.attributes.hp.max)~}}
									obsidian-positive
								{{else if (lt data.attributes.hp.max base.data.attributes.hp.max)~}}
									obsidian-negative
								{{~/if}} obsidian-simple-dialog" data-title="{{localize 'OBSIDIAN.EditMaxHP'}}"
								     data-width="250" data-template="hp.html">
									{{data.attributes.hp.max}}
								</div>
							</div>
							<input type="text" name="data.attributes.hp.temp" value="{{data.attributes.hp.temp}}"
							       class="obsidian-input-num" placeholder="{{localize 'OBSIDIAN.TempAbbrUC'}}"
							       data-dtype="Number">
						</div>
					</div>
				</div>
				{{#if (not-empty actor.flags.obsidian.attributes.hd)}}
					<div class="obsidian-char-column">
						<div class="obsidian-char-box-container">
							<div class="obsidian-char-box-text rollable" data-dialog="RollHD">
								{{localize 'OBSIDIAN.HD'}}
							</div>
							<div class="obsidian-char-box obsidian-resource-box obsidian-char-hd">
								<div>
									{{#each actor.flags.obsidian.attributes.hd as |hd id|}}
										{{#if (or (gt hd.max 0) (defined-and-not-empty hd.override))}}
										<div class="obsidian-bisect">
											<input type="text" name="flags.obsidian.attributes.hd.{{id}}.value"
											       class="obsidian-input-num" value="{{hd.value}}" data-dtype="Number">
											/
											<div class="obsidian-ptr obsidian-resource-box-max
											{{#if (defined-and-not-empty hd.override)~}}
												{{#if (gt hd.override hd.max)~}}
													obsidian-positive
												{{else if (lt hd.override hd.max)~}}
													obsidian-negative
												{{~/if}}
											{{~/if}}" data-dialog="HD">
												{{#if (defined-and-not-empty hd.override)}}
													{{hd.override}}
												{{else}}
													{{hd.max}}
												{{/if}}
											</div>
											<div class="obsidian-resource-box-subtle">{{id}}</div>
										</div>
										{{/if}}
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				{{/if}}
				<div class="obsidian-char-column">
					<div class="obsidian-char-box-container" data-dialog="Defenses">
						<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.Defenses'}}</div>
						<div class="obsidian-char-box obsidian-list-box obsidian-defenses">
						  {{#if actor.obsidian.defenses.display.damage.vuln}}
							  <div class="obsidian-list-box-row">
								  <div class="obsidian-css-icon obsidian-css-icon-sm
								       obsidian-css-icon-negative obsidian-css-icon-diamond"
								       title="{{localize 'OBSIDIAN.DefenseLevel.vuln'}}">
								    <div class="obsidian-css-icon-shape"></div>
								    <div class="obsidian-css-icon-label">
									    {{localize 'OBSIDIAN.VulnerabilityAbbr'}}
								    </div>
								  </div>
								  <span>{{{actor.obsidian.defenses.display.damage.vuln}}}</span>
							  </div>
						  {{/if}}
							{{#if actor.obsidian.defenses.display.conditions.dis}}
								<div class="obsidian-list-box-row">
									<div class="obsidian-css-icon obsidian-css-icon-sm obsidian-css-icon-hexagon
									 obsidian-css-icon-negative" title="{{localize 'OBSIDIAN.Disadvantage'}}">
										<div class="obsidian-css-icon-shape"></div>
										<div class="obsidian-css-icon-label">
											{{localize 'OBSIDIAN.DisadvantageAbbr'}}
										</div>
									</div>
									<span>{{{actor.obsidian.defenses.display.conditions.dis}}}</span>
								</div>
							{{/if}}
						  {{#if actor.obsidian.defenses.display.damage.res}}
							  <div class="obsidian-list-box-row">
								  <div class="obsidian-css-icon obsidian-css-icon-sm
								       obsidian-css-icon-positive obsidian-css-icon-diamond"
								       title="{{localize 'OBSIDIAN.DefenseLevel.res'}}">
								    <div class="obsidian-css-icon-shape"></div>
								    <div class="obsidian-css-icon-label">
								      {{localize 'OBSIDIAN.ResistanceAbbr'}}
								    </div>
								  </div>
								  <span>{{{actor.obsidian.defenses.display.damage.res}}}</span>
							  </div>
						  {{/if}}
						  {{#if actor.obsidian.defenses.display.pc}}
							  <div class="obsidian-list-box-row">
								  <div class="obsidian-css-icon obsidian-css-icon-sm
								       obsidian-css-icon-positive obsidian-css-icon-diamond"
								       title="{{localize 'OBSIDIAN.DefenseLevel.imm'}}">
								    <div class="obsidian-css-icon-shape"></div>
								    <div class="obsidian-css-icon-label">
								      {{localize 'OBSIDIAN.ImmunityAbbr'}}
								    </div>
								  </div>
								  <span>{{{actor.obsidian.defenses.display.pc}}}</span>
							  </div>
						  {{/if}}
							{{#if actor.obsidian.defenses.display.conditions.adv}}
								<div class="obsidian-list-box-row">
									<div class="obsidian-css-icon obsidian-css-icon-sm obsidian-css-icon-hexagon
									     obsidian-css-icon-positive" title="{{localize 'OBSIDIAN.Advantage'}}">
										<div class="obsidian-css-icon-shape"></div>
										<div class="obsidian-css-icon-label">
											{{localize 'OBSIDIAN.AdvantageAbbr'}}
										</div>
									</div>
									<span>{{{actor.obsidian.defenses.display.conditions.adv}}}</span>
								</div>
							{{/if}}
							{{#if actor.obsidian.defenses.parts.dr}}
								<div class="obsidian-list-box-row">
									<div class="obsidian-icon-sm obsidian-icon-damage-reduction"
									     title="{{localize 'OBSIDIAN.DamageReduction'}}"></div>
									<strong>{{actor.obsidian.defenses.parts.dr}}</strong>
								</div>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="obsidian-char-details">
			<div style="grid-row: 1 / span 2;" class="obsidian-main-left">
				<div class="obsidian-char-box-container">
					<div class="obsidian-char-box-text">
						{{localize 'OBSIDIAN.Skills'}}
						<a title="{{localize 'OBSIDIAN.ManageSkills'}}" class="obsidian-edit"
						   data-dialog="Skills" data-property="skills" data-template="skills.html"
						   data-title="{{localize 'OBSIDIAN.ManageSkills'}}" data-width="440">
							<i class="fas fa-edit"></i>
						</a>
					</div>
					<div class="obsidian-char-box obsidian-skills-box">
						{{#each data.skills as |skill id|}}
							<div class="obsidian-skill-item" data-skill-id="{{id}}">
								<div class="obsidian-prof obsidian-ptr {{#if (eq 0.5 skill.proficiency.value)~}}
									obsidian-half-proficient
								{{~else if (eq 1 skill.proficiency.value)~}}
									obsidian-proficient
								{{~else if (eq 2 skill.proficiency.value)~}}
									obsidian-expertise
								{{~else if (and ../actor.flags.obsidian.skills.joat (eq 0 skill.proficiency.value))~}}
									obsidian-half-proficient
								{{~else~}}
									obsidian-not-proficient
								{{~/if~}}">
									<span></span>
								</div>
								<select name="flags.obsidian.skills.{{id}}.ability">
									{{#select (lc skill.ability)}}
										{{#each ../data.abilities}}
											<option value="{{@key}}">
												{{obs-i18n 'AbilityAbbr' @key}}
											</option>
										{{/each}}
									{{/select}}
								</select>
								<div class="obsidian-skill-name rollable" data-roll="skl" data-skl="{{id}}"
								     draggable="true">
									{{skill.label}}
								</div>
								<div class="obsidian-skill-mod obsidian-ptr">
									{{numberFormat skill.total decimals=0 sign=true}}
								</div>
								<div class="obsidian-skill-passive">({{skill.passive}})</div>
							</div>
						{{/each}}
					</div>
				</div>
				<div class="obsidian-char-box-container obsidian-char-box-stacked">
					<div class="obsidian-char-box-text">
						{{localize 'OBSIDIAN.Tools'}}
						<a title="{{localize 'OBSIDIAN.ManageTools'}}" class="obsidian-edit"
						   data-title="{{localize 'OBSIDIAN.ManageTools'}}" data-dialog="Skills"
						   data-property="tools" data-template="tools.html" data-width="650">
							<i class="fas fa-edit"></i>
						</a>
					</div>
					<div class="obsidian-char-box obsidian-skills-box">
						{{#each data.tools as |tool id|}}
							{{#if tool.enabled}}
							<div class="obsidian-skill-item" data-tool-id="{{id}}">
								<div class="
								{{~#if (eq 0.5 tool.proficiency.value)~}}
									obsidian-half-proficient
								{{~else if (eq 1 tool.proficiency.value)~}}
									obsidian-proficient
								{{~else if (eq 2 tool.proficiency.value)~}}
									obsidian-expertise
								{{~else if (and ../actor.flags.obsidian.skills.joat (eq 0 tool.proficiency.value))~}}
									obsidian-half-proficient
								{{~else~}}
									obsidian-not-proficient
								{{~/if}} obsidian-prof obsidian-ptr">
									<span></span>
								</div>
								<select name="flags.obsidian.tools.{{id}}.ability">
									{{#select (lc tool.ability)}}
										{{#each ../data.abilities}}
											<option value="{{@key}}">
												{{obs-i18n 'AbilityAbbr' @key}}
											</option>
										{{/each}}
									{{/select}}
								</select>
								<div class="obsidian-skill-name rollable" data-roll="tool" data-tool="{{id}}"
								     draggable="true">
									{{tool.label}}
								</div>
								<div class="obsidian-skill-mod obsidian-ptr">
									{{numberFormat tool.total decimals=0 sign=true}}
								</div>
							</div>
							{{/if}}
						{{/each}}
					</div>
				</div>
				<div class="obsidian-char-box-container obsidian-char-box-stacked">
					<div class="obsidian-char-box-text">
						{{localize 'OBSIDIAN.Senses'}}
						<a title="{{localize 'OBSIDIAN.EditSenses'}}" class="obsidian-edit"
						   data-dialog="Senses">
							<i class="fas fa-edit"></i>
						</a>
					</div>
					<div class="obsidian-char-box obsidian-skills-box">
						{{#each actor.flags.obsidian.skills.passives}}
						{{#with (get-property ../data.skills this)}}
							<div class="obsidian-passive-item">
								<div class="obsidian-skill-name">{{localize 'OBSIDIAN.Passive'}} {{label}}</div>
								<div class="obsidian-skill-passive">{{passive}}</div>
							</div>
						{{/with}}
						{{/each}}
						{{#if hasSenses}}
						<div class="obsidian-horizontal-list">
							{{#each senses}}
								{{#if (gt (lookup ../data.attributes.senses @key) 0)}}
									<span>
										{{obs-i18n 'Sense' @key}}&nbsp;{{lookup ../data.attributes.senses @key}}&nbsp;{{localize 'OBSIDIAN.FeetAbbr'}}
									</span>
								{{/if}}
							{{/each}}
						</div>
						{{/if}}
					</div>
				</div>
				<div class="obsidian-char-box-container obsidian-char-box-stacked">
					<div class="obsidian-char-box-text">
						{{localize 'OBSIDIAN.Proficiencies'}}
						<a title="{{localize 'OBSIDIAN.EditProficiencies'}}" class="obsidian-edit"
						   data-dialog="Proficiencies">
							<i class="fas fa-edit"></i>
						</a>
					</div>
					<div class="obsidian-char-box obsidian-skills-box">
						<div class="obsidian-bisect">
							<div class="obsidian-char-box-text obsidian-char-box-text-compact">
								{{localize 'OBSIDIAN.Armour'}}
							</div>
							<div class="obsidian-horizontal-list obsidian-list-compact">
								{{#each data.traits.armorProf.value}}
									<span>{{obs-i18n 'ArmourProf' this}}</span>
								{{/each}}
								{{#each actor.flags.obsidian.traits.profs.custom.armour}}
									<span>{{this}}</span>
								{{/each}}
							</div>
						</div>
						<div class="obsidian-bisect">
							<div class="obsidian-char-box-text obsidian-char-box-text-compact">
								{{localize 'OBSIDIAN.Weapons'}}
							</div>
							<div class="obsidian-horizontal-list obsidian-list-compact">
								{{#each data.traits.weaponProf.value}}
									<span>{{obs-i18n 'WeaponProf' this}}</span>
								{{/each}}
								{{#each actor.flags.obsidian.traits.profs.custom.weapons}}
									<span>{{this}}</span>
								{{/each}}
							</div>
						</div>
						<div class="obsidian-bisect">
							<div class="obsidian-char-box-text obsidian-char-box-text-compact">
								{{localize 'OBSIDIAN.Languages'}}
							</div>
							<div class="obsidian-horizontal-list obsidian-list-compact">
								{{#each data.traits.languages.value}}
									<span>{{obs-i18n 'Lang' this}}</span>
								{{/each}}
								{{#each actor.flags.obsidian.traits.profs.custom.langs}}
									<span>{{this}}</span>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="obsidian-grid-2-col obsidian-conditions-and-saves">
				<div class="obsidian-char-box-container obsidian-conditions-box"
				     style="grid-row: 1 / span 2; grid-column: 2;">
					<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.Conditions'}}</div>
					<div class="obsidian-char-box obsidian-char-box-lg"
					     {{#unless (is-fullwidth-font)}}style="min-height: 200px;"{{/unless}}>
						<div class="obsidian-bisect obsidian-grid-2-col obsidian-conditions"
						     style="min-height: 128px; margin-bottom: 12px;">
						{{#each ObsidianConfig.CONDITIONS}}
							<div class="
							{{~#if (lookup ../actor.obsidian.conditions this)~}}
								obsidian-radio-selected
							{{~/if}} obsidian-radio-label" data-value="{{this}}">
								<div class="
								{{~#if (eq 'invisible' this)~}}
									obsidian-radio-positive
								{{~else~}}
									obsidian-radio-negative
								{{~/if}} obsidian-radio">
									<span></span>
								</div>
								{{obs-i18n 'Condition' this}}
							</div>
						{{/each}}
						</div>
						<div class="
						{{~#if (gt actor.obsidian.conditions.exhaustion 0)~}}
							obsidian-meatballs-active
						{{~/if}} obsidian-meatballs-title">
							{{localize 'OBSIDIAN.Exhaustion'}}
						</div>
						<div class="obsidian-meatballs obsidian-exhaustion">
							{{#each (range 1 6) as |level|}}
								<div class="
								{{~#if (leq level ../actor.obsidian.conditions.exhaustion)~}}
									obsidian-radio-selected
								{{~/if}} obsidian-radio obsidian-radio-negative" data-value="{{level}}">
									<span></span>
								</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="obsidian-char-box-container">
					<div class="obsidian-char-box-text">
						{{localize 'OBSIDIAN.SavingThrows'}}
						<a title="{{localize 'OBSIDIAN.ManageSaves'}}" data-template="saves.html"
						   class="obsidian-edit obsidian-simple-dialog" data-width="250"
						   data-title="{{localize 'OBSIDIAN.ManageSaves'}}">
							<i class="fas fa-edit"></i>
						</a>
					</div>
					<div class="obsidian-char-box obsidian-char-box-lg obsidian-grid-2-col">
						{{> modules/obsidian/html/components/saves-part.html}}
					</div>
				</div>
				<div class="obsidian-char-box-container">
					<div class="obsidian-char-box-text" style="padding: 5px 0 3px 0;">
						<span class="rollable" data-roll="save" data-save="death">
							{{localize 'OBSIDIAN.DeathSaves'}}
						</span>
						<a title="{{localize 'OBSIDIAN.ManageDeathSaves'}}"
						   class="obsidian-edit obsidian-simple-dialog" data-template="death-saves.html"
						   data-title="{{localize 'OBSIDIAN.ManageDeathSaves'}}" data-width="250">
							<i class="fas fa-edit"></i>
						</a>
					</div>
					<div class="obsidian-char-box obsidian-char-box-lg"
					     {{#unless (is-fullwidth-font)}}style="padding: 12px 0;"{{/unless}}>
						<div class="obsidian-grid-2-col">
							<div class="obsidian-vertical-bisect">
								<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.Successes'}}</div>
								<div class="obsidian-meatballs obsidian-death-successes">
									{{#each (range 1 3) as |n|}}
										<div class="
										{{~#if (leq n ../data.attributes.death.success)~}}
											obsidian-radio-selected
										{{~/if}} obsidian-radio obsidian-radio-positive" data-value="{{n}}">
											<span></span>
										</div>
									{{/each}}
								</div>
							</div>
							<div class="obsidian-vertical-bisect">
								<div class="obsidian-char-box-text">{{localize 'OBSIDIAN.Failures'}}</div>
								<div class="obsidian-meatballs obsidian-death-failures">
									{{#each (range 1 3) as |n|}}
										<div class="
										{{~#if (leq n ../data.attributes.death.failure)~}}
											obsidian-radio-selected
										{{~/if}} obsidian-radio obsidian-radio-negative" data-value="{{n}}">
											<span></span>
										</div>
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="obsidian-char-box-container obsidian-main-container">
				<div class="obsidian-char-box obsidian-main">
					<ul class="obsidian-tab-bar" data-group="main-tabs">
						<li class="obsidian-tab item" data-tab="actions">{{localize 'OBSIDIAN.Actions'}}</li>
						<li class="obsidian-tab item" data-tab="spells">{{localize 'OBSIDIAN.Spells'}}</li>
						<li class="obsidian-tab item" data-tab="equipment">{{localize 'OBSIDIAN.Equipment'}}</li>
						<li class="obsidian-tab item" data-tab="features">{{localize 'OBSIDIAN.FeaturesAndTraits'}}</li>
						<li class="obsidian-tab item" data-tab="effects">{{localize 'OBSIDIAN.Effects'}}</li>
						<li class="obsidian-tab item" data-tab="notes">{{localize 'OBSIDIAN.Notes'}}</li>
						<li class="obsidian-tab item" data-tab="extras">{{localize 'OBSIDIAN.Extras'}}</li>
					</ul>
					{{> modules/obsidian/html/tabs/actions.html}}
					{{> modules/obsidian/html/tabs/spells.html}}
					{{> modules/obsidian/html/tabs/equipment.html}}
					{{> modules/obsidian/html/tabs/features.html}}
					{{> modules/obsidian/html/tabs/effects.html}}
					{{> modules/obsidian/html/tabs/notes.html}}
				</div>
			</div>
		</section>
	</section>
</form>
